body
  padding-top 2em
  padding-bottom 2em

.main
  text-align center
  border-bottom 0
  fieldset
    padding 1em
    input
      margin 1em
      padding 1em
      width 80%
    .btn
      margin 1em
      font-size 1em
      padding 0.5em
      text-indent 0.5em
