#map{z-index:1}#title{color:rgba(102,102,102,0.6);font-family:Ubuntu Mono,Monospace;left:10px;position:absolute;z-index:2}.leaflet-container{margin-left:13px;margin-top:70px}html,body{color:rgba(102,102,102,0.6);font-family:Ubuntu Mono;height:100%;margin:0;padding:0}.main{height:100%;body:100%}